<% include partials/header %>

<div class="container">
    <h1 class="text-center">Hello From Ejs</h1>
    <form class="form-group" method="POST" action="/users/add">
        <label>Nome:</label><br>
        <input type="text" name="nome"><br>
        <label>Sobreome:</label><br>
        <input type="text" name="sobrenome"><br>
        <label>Idade:</label><br>
        <input type="text" name="idade">
        <br><br>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
    <div>
        <button class="btn btn-success"><a style="color:white" href="/users">Ver Usuarios</a></button>
    </div>
</div>

<% include partials/footer %>